/******************************* VARIABLES FOR ALL STYLING **************************************/
/******* Hide Body Until Page Loaded *******/
body {
  visibility: hidden;
}

/******* SITE COLORS *******/
:root {
  --red-color: #d15154;
  --charcoal-color: #383738;
  --main-teal-color: #8cbcbf;
  --dark-teal-color: #475b5c;
  --black-color: #000;
  --medium-gray-color: #c8c8c8; /* used on page up arrow and some gray text */
  --light-gray-color: #dfdfdf; /* Some Backgrounds and Icons */
  --lightest-gray-color: #f7f7f7; /* to be used sparingly – mainly on soft gray backgrounds */
}

/******** SOCIAL SHARE *********/
.social-sidebar-tabs #social-tabs .social-share-div {
  padding: 15px .1em .1em;
  width: 100%;
}

.saw-button a {
  color: var(--red-color);
  position: relative;
  background: transparent;
  border: 2px solid var(--red-color);
  border-radius: 10px;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 1.2em;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  white-space: nowrap;
}

.wedding-story-button .saw-button a {
  color: var(--main-teal-color);
  border: 2px solid var(--main-teal-color);
}

.saw-button a:hover {
  background: var(--red-color);
  color: #FFF;
  padding: 5px 11px;
  box-shadow: 5px 10px 10px var(--medium-gray-color);
}

.wedding-story-button .saw-button a:hover {
  background: var(--main-teal-color);
}

.saw-button a svg {
  opacity: 0;
  line-height: 1.2em;
  margin-left: -1em;
  color: #FFF;
  transition: .3s;
  -moz-transition: .3s;
}

.saw-button a:hover svg {
  opacity: 1;
  margin-left: 0;
}

/*********** SPECIAL OFFERS LIST PAGE ***********/
.special-offers-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
  }
  margin-bottom: 40px;

  .individual-offer {
    &:nth-child(2n) {
      border-right: none;
      margin-left: 25px;
      @media screen and (max-width: 480px) {
        margin-left: 0;
      }
    }
    border-right: 1px solid var(--medium-gray-color);
    padding: 25px 35px 0 15px;
    h5 {
      font-family: 'Encode Sans', Helvetica, Arial, Lucida, sans-serif;
      font-size: 21px;
      color: var(--charcoal-color);
    }

    h4 {
      font-weight: 200;
      color: var(--charcoal-color);
      padding-top: 10px;
      padding-bottom: 35px;
      border-bottom: 2px solid var(--light-gray-color);
      letter-spacing: 1px;
      a {
        transition: 0.1s all;
        &:hover {
          color: var(--red-color);
        }
      }
    }
  }

  span.offer-header-triangle {
    display: inline-block;
    width: 0;
    height: 0;
    padding-right: 12px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 15px solid var(--red-color);
    margin-bottom: -4px;
  }
}