.hero-slider-shortcode-divi-module {
  .et_pb_code_inner {
    height: 100%;
    padding-bottom: 5px;
    @media screen and (max-width: 981px) {
      padding-bottom: 0 !important;
    }
  }
}
.home-slider-container {
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  @media screen and (max-width: 767px) {
    height: auto;
  }
  .swiper-pagination {
    bottom: 30px;
    @media screen and (max-width: 767px) {
      bottom: -6px;
    }
    .swiper-pagination-bullet {
      background: #FFF;
      opacity: 0.6;
      @media screen and (max-width: 767px) {
        background: var(--main-teal-color);
      }
    }
    .swiper-pagination-bullet-active {
      background: var(--red-color);
      opacity: 1;
    }
  }
  .et_pb_code_inner {
    height: 100%;
    padding-bottom: 5px;
  }
  .swiper-slide {
    height: auto;

    .slide-content {
      height: 100%;
      @media screen and (max-width: 767px) {
        height: auto;
      }

      .bg-image-layer {
        height: 100%;
        @media screen and (max-width: 980px) {
          background-position: center center !important;
        }
        @media screen and (max-width: 767px) {
          background-position: right center !important;
          height: 200px;
        }
      }

      .left-side {
        max-width: 625px;
        height: 100%;

        &.orange-bg {
          background: url("../img/SAW-hero-border.png");
          background-size: 100% 100%;
          width: 50%;
          max-width: 625px;
          @media screen and (max-width: 767px) {
            background: url("../img/Template-2-White-Wave-Icon-Shape-2X.png") no-repeat left bottom;
            background-size: cover;
            max-width: 100%;
            width: 100%;
          }
          @media screen and (max-width: 383px) {
            background-size: contain;
          }
        }

        .head-2 {
          padding-top: 10px;
          padding-bottom: 15px;
          @media screen and (max-width: 767px) {
            padding-bottom: 5px;
          }
        }

        .head-2 h3 {
          color: #000;
          font-family: 'Open Sans Condensed', sans-serif;
          text-transform: uppercase;
          font-size: 1.8em;
          font-weight: 700;
          @media screen and (max-width: 980px) {
            font-size: 1.5em;
          }
        }

        .head-1 {
          color: #FFF;
          font-size: 2.1em;
          line-height: 1em;
          font-weight: 700;
          font-family: 'Open Sans Condensed', sans-serif;
          text-transform: uppercase;
          padding-left: 10px;
          margin-bottom: 15px;
          @media screen and (max-width: 980px) {
            font-size: 1.8em;
            color: var(--red-color);
          }
          @media screen and (min-width: 768px) and (max-width: 979px) {
            font-size: 1.8em;
            color: #FFF;
          }
          @media screen and (max-width: 767px) {
            color: var(--red-color);
          }
        }

        .subhead {
          font-family: "Open Sans", sans-serif;
          font-size: 1em;
          line-height: 1.3em;
          text-transform: uppercase;
          padding-left: 20px;
          padding-bottom: 20px;
          @media screen and (max-width: 980px) {
            display: none;
          }
        }

        .photographer-credit {
          padding-left: 20px;
          @media screen and (max-width: 767px) {
            display: none;
          }
        }

        .hero-text-content {
          display: flex;
          flex-direction: column;
          max-width: 85%; /* TODO: set media query for when smaller */
          padding-top: 35px;
          padding-left: 30px;
          padding-bottom: 50px;
          height: 100%;
          justify-content: center;
          @media screen and (max-width: 767px) {
            display: none;
          }
        }

        .saw-button {
          &.read-more {
            padding-top: 30px;
            @media screen and (max-width: 767px) {
              padding-top: 0;
            }

            a {
              color: #FFF;
              border-color: #FFF;
              @media screen and (max-width: 767px) {
                color: var(--red-color);
                border-color: var(--red-color);
                text-align: right;
                padding-top: 10px;
                padding-bottom: 10px;
              }

              &:hover {
                box-shadow: none;
                background-color: transparent;
              }
            }
          }
        }
      }

      .text-below-hero {
        display: none;
        @media screen and (max-width: 767px) {
          display: block;
          padding: 10px 20px 20px;
        }

        &.style-1 {
          .head-2 h3 {
            color: #000;
            font-family: 'Open Sans Condensed', sans-serif;
            text-transform: uppercase;
            font-size: 1.8em;
            font-weight: 700;
          }

          .head-1 {
            color: var(--red-color);
            border-left: #000 solid .2em;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            font-size: 1em;
            line-height: 1.3em;
            text-transform: uppercase;
            padding-left: 20px;
            margin-bottom: 20px;
          }

          .saw-button.read-more {
            text-align: right;
          }
        }

        &.style-2 {
          .head-1 {
            color: #000;
            font-family: 'Open Sans Condensed', sans-serif;
            text-transform: uppercase;
            font-size: 1.8em;
            font-weight: 700;
            text-align: center;
            padding-bottom: 15px;
          }

          .saw-button.read-more {
            text-align: center;
            padding-top: 20px;
          }
        }
      }
    }
  }
}

.slide-type-1 .left-side .head-1 {
  border-left: .2em solid #000;
}

.slide-type-2 {
  .left-side .head-1 {
    border-left: .2em solid var(--red-color);
  }

  .photographer-credit {
    color: #FFF;
  }

  .alpha-overlay {
    height: 100%;
    //background: rgb(0, 0, 0);
    //background: linear-gradient(90deg, rgba(0, 0, 0, 0.8421743697478992) 0%, rgba(0, 0, 0, 0.6096813725490196) 69%, rgba(0, 0, 0, 0) 100%);
    @media screen and (max-width: 767px) {
      background: url("../img/Template-2-White-Wave-Icon-Shape-2X.png") no-repeat left bottom;
      background-size: cover;
      max-width: 100%;
      width: 100%;
    }
  }

  .read-more.saw-button a {
    border-color: var(--red-color) !important;
  }
}

/********* MID NAV BAR *************/
#mid-nav-bar-section {
  .et-menu.nav > li {
    font-size: 17px;
  }
  #home-mid-nav-left {
    .et_pb_menu__wrap {
      width: 100%;
      .et_pb_menu__menu {
        width: 100%;
        .et-menu-nav {
          width: 100%;
          #menu-home-mid-nav-computer-left {
            width: 100%;
            justify-content: space-evenly;
            .styled-shoot-menu {
              font-weight: 500;
            }
            li a::after {
              display: none;
            }
            ul.sub-menu {
              width: 220px;
              top: 100%;
              left: 10px;
              border: none;
              padding-top: 10px;
              padding-bottom: 0;
              background: transparent !important;
              li {
                background: #FFF;
                margin-left: 0;
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 0 !important;
                &:hover {
                  background: var(--lightest-gray-color);
                }
                &.last {
                  a {
                    border-bottom: none;
                    padding-bottom: 10px;
                  }
                }
                &:first-child {
                  a {
                    padding-top: 10px;
                  }
                }
                a {
                  padding: 0 10px;
                  margin-left: 10px;
                  margin-right: 10px;
                  border-bottom: 1px solid var(--main-teal-color);
                  &:hover {
                    background: transparent;
                    opacity: 1;
                  }
                }
              }
              &::before {
                display: inline-block;
                width: 0;
                height: 0;
                border-bottom: 13px solid #FFF;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                content: '';
                position: absolute;
                top: -3px;
              }
            }
          }
        }
      }
    }
  }
  #home-mid-nav-right {
    .et_pb_menu__wrap {
      width: 100%;
      .et_pb_menu__menu {
        width: 100%;
        .et-menu-nav {
          width: 100%;
          #menu-home-mid-nav-computer-right {
            width: 100%;
            justify-content: space-evenly;
            li a::after {
              display: none;
            }
            ul.sub-menu {
              width: 220px;
              top: 100%;
              left: 10px;
              border: none;
              padding-top: 10px;
              padding-bottom: 0;
              background: transparent !important;
              li {
                background: #FFF;
                margin-left: 0;
                margin-bottom: 0 !important;
                padding-left: 0;
                padding-right: 0;
                &:hover {
                  background: var(--lightest-gray-color);
                }
                &.last {
                  a {
                    border-bottom: none;
                    padding-bottom: 10px;
                  }
                }
                &:first-child {
                  a {
                    padding-top: 10px;
                  }
                }
                a {
                  padding: 0 10px;
                  margin-left: 10px;
                  margin-right: 10px;
                  border-bottom: 1px solid var(--main-teal-color);
                  &:hover {
                    background: transparent;
                    opacity: 1;
                  }
                }
              }
              &::before {
                display: inline-block;
                width: 0;
                height: 0;
                border-bottom: 13px solid #FFF;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                content: '';
                position: absolute;
                top: -3px;
              }
            }
          }
        }
      }
    }
  }
  .home-search-submit:hover {
    cursor: pointer;
  }
}
/***************************** VENDOR DROPDOWN MENU **********************************/
.midnav-vendor-list, .midnav-vendor-list-tablet {
  display: none;
  position: absolute;
  top: 9px;
  left: 38%;
  @media screen and (max-width: 767px) {
    left: unset;
    right: 22px;
  }
  width: 250px;
  text-transform: uppercase;
  border: var(--charcoal-color) 2px solid;
  padding-top: 5px;
  background: #FFF;
  height: 350px;
  max-height: 350px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

  &.visible {
    display: block;
  }

  p {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  ul.vendor-mega-menu {
    padding: 0;
    list-style-type: none;
    overflow: scroll;
    height: 341px;
    &::before {
      display: inline-block;
      width: 0;
      height: 0;
      border-bottom: 13px solid #FFF;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      content: '';
      position: absolute;
      top: -13px;
      @media screen and (max-width: 767px) {
        right: 0;
      }
    }
    li {
      padding: 5px;
      text-align: center;
      font-weight: 300;
      background: var(--main-teal-color);
      border-top: 1px #FFF solid;
      margin-bottom: 0;
      a {
        color: #000;
      }
    }
  }
}
#mid-nav-menu-tablet {
  ul#menu-home-mid-nav-tablet {
    & > li {
      & > a {
        &::after {
          display: none;
        }
        &::before {
          content: '';
          background: url('/wp-content/plugins/fn-saw/public/img/hamburger-menu@2x.svg') 20px 15px;
          width: 20px;
          height: 15px;
          display: block;
          background-size: contain;
          float: left;
          margin-left: -1.6em;
        }
      }
    }
  }
}
.midnav-vendor-list-tablet {
  top: 6px;
}
#mid-nav-bar-section {
  @media screen and (max-width: 767px) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  #tablet-midnav-menu {
    @media screen and (max-width: 767px) {
      .menu-link-container {
        width: 50% !important;
        margin-right: 0;
        margin-bottom: 0;
      }
      .vendor-link-container {
        width: 50% !important;
        margin-right: 0;
        margin-bottom: 0;
      }
      .search-container {
        width: 100%;
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 979px) {
      .menu-link-container {
        width: 25%;
        margin-right: 0;
        margin-bottom: 0;
      }
      .vendor-link-container {
        width: 25%;
        margin-right: 0;
        margin-bottom: 0;
      }
      .search-container {
        width: 50%;
        margin-bottom: 0;
      }
    }
  }
}

#mid-nav-menu-tablet {
  .et_pb_menu__wrap {
    width: 100%;
    .et_pb_menu__menu {
      width: 100%;
      .et-menu-nav {
        width: 100%;
        #menu-home-mid-nav-tablet {
          width: 100%;
          justify-content: space-evenly;
          li a::after {
            display: none;
          }
          ul.sub-menu {
            width: 220px;
            top: 100%;
            left: 10px;
            border: none;
            padding-top: 10px;
            padding-bottom: 0;
            background: transparent !important;
            li {
              background: #FFF;
              margin-left: 0;
              margin-bottom: 0 !important;
              padding-left: 0;
              padding-right: 0;
              &:hover {
                background: var(--lightest-gray-color);
              }
              &:last-child {
                a {
                  border-bottom: none;
                  padding-bottom: 10px;
                }
              }
              &:first-child {
                a {
                  padding-top: 10px;
                }
              }
              a {
                font-size: 15px;
                padding: 0 10px;
                margin-left: 10px;
                margin-right: 10px;
                border-bottom: 1px solid var(--main-teal-color);
                &:hover {
                  background: transparent;
                  opacity: 1;
                }
              }
            }
            &::before {
              display: inline-block;
              width: 0;
              height: 0;
              border-bottom: 13px solid #FFF;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              content: '';
              position: absolute;
              top: -3px;
            }
          }
        }
      }
    }
  }
}

.swiper-faves-container {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  .swiper-pagination {
    bottom: 0;
    z-index: 1000;
    .swiper-pagination-bullet {
      background: var(--main-teal-color);
      opacity: 0.7;
      @media screen and (max-width: 767px) {
        background: var(--main-teal-color);
      }
    }
    .swiper-pagination-bullet-active {
      background: var(--red-color);
      opacity: 1;
    }
  }
  .swiper-button-next, .swiper-button-prev {
    color: var(--medium-gray-color);
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }
}
.local-faves-container {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 60px);
  height: 100%;
  &.home-buzz, &.spotlight {
    width: 100%;
  }
  padding-top: calc(1300px * .016); // TODO: Change this for smaller widths

  .individual-fave {
    background: var(--charcoal-color);
    width: 23%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
    transition: 0.2s;
    height: auto;
    &.blog-buzz {
      background: var(--main-teal-color);
    }
    &.spotlight {
      background: var(--red-color);
    }

    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      transition: .2s;

      .local-fave-image {
        .fave-image-overlay {
          opacity: .3 !important;
          transition: 0.2s;
        }
      }
    }

    .local-fave-image {
      position: relative;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      .fave-image-overlay {
        opacity: 0;
        transition: .2s;
        background-color: #FFF;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    .fave-title-container {
      padding: 10px;

      h3 {
        color: #FFF;
        font-size: 1em;
        line-height: 1.3em;
      }
    }
  }
}