/* Stylesheet for all Articles */

/* Parent Container */
.article-content {

}

.article-content h4 {
    font-family: "Encode Sans", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1em;
}
.single-spotlight .article-content h4, .single-styled_shoot h4 {
    color: var(--red-color);
}
.single-post .article-content h4 {

}
/* Individual Row */
.article-content-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

/* One Column Row */
.article-one-column {
    width: 100%;
}

/* Two Columns Row */
.article-two-columns {
    width: 49%;
}
.article-two-columns.last {
    margin-left: 2%;
}

/* Three Columns Row */
.article-three-columns {
    width: 32%;
}
.article-three-columns.last {
    margin-left: 2%;
}

/* Gray Bottom Border */
.article-image-block, .article-video-block.embed-container {
    border-bottom: var(--light-gray-color) solid 2px;
    margin-bottom: 5px;
}
.article-image-block img {
    width: 100%;
}
.article-video-block.embed-container div {
    margin-bottom: 5px;
}

/* Sidebar Featured Spotlights */
.spotlight-widget-container {
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
}
.spotlight-widget-container .individual-spotlight {
    display: flex;
    flex-direction: row;
    max-height: 87px;
    padding: 5px 0;
    border-bottom: 1px solid var(--light-gray-color);
    cursor: pointer;
}
.spotlight-widget-container .individual-spotlight:hover {
    background-color: var(--lightest-gray-color);
}
.spotlight-widget-container .individual-spotlight.last {
    border-bottom: none;
}
.spotlight-widget-container .left-half {
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spotlight-widget-container .left-half img {
    max-width: 100px;
    width: 90%;
}
.spotlight-widget-container .right-half {
    width: 63%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5px 0 10px;
    line-height: 1em;
}
.spotlight-widget-container .right-half .title {
    font-family: "Encode Sans", sans-serif;
    font-size: 17px;
    line-height: 1.2em;
    color: var(--charcoal-color);
    padding-right: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.spotlight-widget-container .right-half .read-more {
    font-family: "Encode Sans", sans-serif;
    text-align: right;
    font-size: 13px;
    font-weight: 100;
}
.spotlight-widget-container .right-half .read-more a {
    color: var(--charcoal-color);
}