/******************************* VARIABLES FOR ALL STYLING **************************************/
/******* SITE COLORS *******/
:root {
    --red-color: #d15154;
    --charcoal-color: #383738;
    --main-teal-color: #8cbcbf;
    --dark-teal-color: #475b5c;
    --black-color: #000;
    --medium-gray-color: #c8c8c8;   /* used on page up arrow and some gray text */
    --light-gray-color: #dfdfdf;    /* Some Backgrounds and Icons */
    --lightest-gray-color: #f7f7f7; /* to be used sparingly – mainly on soft gray backgrounds */
}

/******** SOCIAL SHARE *********/
.social-sidebar-tabs #social-tabs .social-share-div {
    padding: 15px .1em .1em;
    width: 100%;
}
.saw-button a {
    color: var(--red-color);
    position: relative;
    background: transparent;
    border: 2px solid var(--red-color);
    border-radius: 10px;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    white-space: nowrap;
}
.saw-button a:hover {
    background: var(--red-color);
    color: #FFF;
    padding: 5px 11px;
    box-shadow: 5px 10px 10px var(--medium-gray-color);
}
.saw-button a svg {
    opacity: 0;
    line-height: 1.2em;
    margin-left: -1em;
    color: #FFF;
    transition: .3s;
    -moz-transition: .3s;
}
.saw-button a:hover svg {
    opacity: 1;
    margin-left: 0;
}