/****** STYLING THE TOP HEADER NAV ********/
#saw-top-header {
    background-size: 80%;
}
#menu-header-top-menu-computer {
    margin-left: 0;
    margin-right: 0;
}
#menu-header-top-menu-computer .header-search {
    border-right: 1px #a0a0a0 solid;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#menu-header-top-menu-computer .header-search a::before {
    background: url("../img/header-search-icon.svg") no-repeat;
    background-size: 24px 23px;
    width: 24px;
    height: 23px;
    content: "";
}
.header-search-dropdown {
    display: none;
}
.header-search-dropdown.visible {
    display: block;
}
.vendor-login-form .et_pb_newsletter_description h3::before {
    background: url("../img/teal-w-saw-icon.png") no-repeat;
    background-size: 39px 37px;
    width: 39px;
    height: 37px;
    content: "";
    display: block;
    float: left;
    padding-right: 15px;
    margin-top: -3px;
}
.vendor-login-form {
    display: none;
}
.vendor-login-form.visible {
    display: block;
}
.vendor-login-form .et_pb_login_form {
    width: 70% !important;
    float: left;
}
.vendor-login-form form p {
    float: left;
    margin-top: -40px;
}
.vendor-login-form form p.et_pb_contact_form_field {
    padding-right: 15px;
    width: 40%;
    padding-bottom: 5px;
    margin-top: 0;
}
.vendor-login-form form p.et_pb_forgot_password {
    text-align: right;
    width: 80%;
    padding-right: 15px;
    margin-top: 0;
}
.vendor-login-form form button {
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: var(--red-color);
}
.vendor-login-form form button:hover {
    font-size: 16px;
    padding: 3px 2em 3px 0.7em !important;

}
.vendor-login-form form p.et_pb_contact_form_field input, .vendor-login-form form p.et_pb_contact_form_field input[type="password"] {
    /*padding-top: 15px !important;*/
    /*padding-bottom: 15px !important;*/
}
.header-search-dropdown form.et_pb_searchform {
    display: flex;
    align-items: center;
}
.header-search-dropdown form.et_pb_searchform input[type="text"] {
    height: auto !important;
    width: 98%;
    padding-left: 20px !important;
}
.header-search-dropdown form.et_pb_searchform div {
    width: 100%;
}
.header-search-dropdown form.et_pb_searchform::before {
    background: url("../img/teal-w-saw-icon.png") no-repeat;
    background-size: 50px 48px;
    width: 50px;
    height: 48px;
    content: "";
    display: block;
    float: left;
    padding-right: 15px;
}
#menu-header-top-menu-computer .vendor-login {
    padding-right: 5px;
}
#menu-header-top-menu-computer li {
    margin-top: 0;
    padding-top: 0;
}
@media screen and (max-width: 1100px){
    #menu-header-top-menu-computer li {
        padding-left: 5px;
        padding-right: 5px;
    }
}
#menu-header-top-menu-computer li a, #menu-header-top-menu-tablet li a {
    text-transform: uppercase;
}
#menu-header-top-menu-tablet .vendor-login {
    border-right: var(--medium-gray-color) 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    padding-right: 20px;
}
#menu-header-top-menu-computer .header-search a, #menu-header-top-menu-computer .vendor-login a, #menu-header-top-menu-tablet .vendor-login a {
    font-size: .8em;
}
#menu-header-top-menu-computer .social-icon, #menu-header-top-menu-tablet .social-icon {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.5em;
}
#menu-header-top-menu-phone .social-icon {
    padding-left: 1px;
    padding-right: 5px;
    font-size: 1.5em;
}
/* Prevent the Hamburger Menu */
@media screen and (max-width: 980px) {
    .et_pb_menu__wrap .et_pb_menu__menu {
        display: block !important;
    }
    .et_mobile_nav_menu {
        display: none !important;
    }
}